#content
  .space
  #right_pane
    .box
      %a
        =image_tag('zileri.png', :alt => 'Pal Zileri')
    .box
      %a
        =image_tag('zegna.png', :alt => 'Ermenegildo Zegna')
    .box
      %a
        =image_tag('renommee.png', :alt => 'Renommee')
    .box
      %a
        =image_tag('pret-a-porte.png', :alt => 'Pret A Porter')
    .box
      %a
        =image_tag('gibraud.png', :alt => 'Girbaud')
    .box
      %a
        =image_tag('dolcevita.png', :alt => 'Dolce Vita')
#slideshow
  =image_tag('image1.jpg', :class => 'active')
  =image_tag('image2.jpg')
  =image_tag('image3.jpg')
