#footer
  #footer_button
    %div{:style => "padding-right:30px"}
      Координаты & Контакты
      %span{:style => "font-size:8px;"} &#9660;
  #footer_higher
    #footer_content
      .footbox
        Footer box
      .footbox
        Footer box
      .footbox
        Footer box
      .clear
